week_4/day_1/node_modules/
week_4/day_2/node_modules/
week_4/day_3/node_modules/
week_4/day_4/node_modules/
week_5/day_2/node_modules/
week_5/day_3/node_modules/
week_5/day_4/node_modules/
week_5/day_2/.env
week_5/day_3/.env
week_5/day_4/.env